*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter,sans-serif;
background:#050816;
color:white;
min-height:100vh;
overflow-x:hidden;
}

.bg{
position:fixed;
inset:0;
background:
radial-gradient(circle at top left,#7b2cff22,transparent 30%),
radial-gradient(circle at bottom right,#008cff22,transparent 30%),
#050816;
z-index:-1;
}

.app{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:240px;
padding:25px;
background:rgba(255,255,255,0.03);
border-right:1px solid rgba(255,255,255,0.05);
backdrop-filter:blur(20px);
}

.sidebar h1{
margin-bottom:30px;
font-size:32px;
}

.sidebar button{
width:100%;
padding:15px;
border:none;
border-radius:16px;
background:linear-gradient(135deg,#7b2cff,#008cff);
color:white;
cursor:pointer;
font-size:16px;
}

/* MAIN */

.main{
flex:1;
padding:30px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.header h2{
font-size:42px;
}

.upload-btn{
padding:15px 25px;
border-radius:18px;
background:linear-gradient(135deg,#7b2cff,#008cff);
cursor:pointer;
font-weight:600;
}

/* DROP */

#drop{
border:2px dashed #7b2cff88;
padding:40px;
border-radius:24px;
text-align:center;
margin-bottom:25px;
color:#b48cff;
transition:0.25s;
}

#drop.drag{
background:#7b2cff11;
border-color:#7b2cff;
}

/* FILES */

.files{
display:flex;
flex-direction:column;
gap:18px;
}

.file{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
border-radius:24px;
background:rgba(255,255,255,0.04);
border:1px solid rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
}

.file-left{
display:flex;
align-items:center;
gap:18px;
}

.icon{
width:60px;
height:60px;
border-radius:18px;
background:linear-gradient(135deg,#7b2cff,#008cff);
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
font-size:18px;
}

.file-name{
font-size:18px;
font-weight:600;
margin-bottom:4px;
}

.file-downloads{
color:#8f97b3;
font-size:14px;
}

.actions{
display:flex;
gap:12px;
}

.actions button{
width:48px;
height:48px;
border:none;
border-radius:14px;
background:rgba(255,255,255,0.05);
color:white;
cursor:pointer;
font-size:18px;
}

.actions button:hover{
background:rgba(255,255,255,0.1);
}

@media(max-width:800px){

.app{
flex-direction:column;
}

.sidebar{
width:100%;
border-right:none;
border-bottom:1px solid rgba(255,255,255,0.05);
}

.header{
flex-direction:column;
align-items:flex-start;
gap:20px;
}

.header h2{
font-size:32px;
}

.file{
flex-direction:column;
align-items:flex-start;
gap:20px;
}

}